# Environments
.env
.venv
env/
venv/
venvBehavior/
ENV/
env.bak/
venv.bak/
metadrive/

# Jupyter Notebook
.ipynb_checkpoints

# Cache
__pycache__/

# Ignore tensorboard and model files
*.zip
behaviour_board/

